<!DOCTYPE html>
<html>
<head>
    <title>Dados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Dados do Formulário</h1>
        <p>Nome: <%= data.nome %></p>
        <p>Endereço: <%= data.endereco %></p>
        <p>Telefone: <%= data.telefone %></p>
        <p>Data de Agendamento: <%= data.data %></p>
    </div>
</body>
</html>
